# This normalises all the line endings in the project to use linux standard. As some 
# files will end up inside linux containers being executes this seems the sensible choice.

* text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary
*.ez binary
*.bz2 binary
*.swp binary
*.dll binary
*.zip binary
*.exe binary
*.docx binary